# Local (anvil)
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Robinhood Testnet
# PRIVATE_KEY=0x_your_deployer_private_key_here
# RPC_URL=https://rpc.testnet.chain.robinhood.com/
